<style>
  #color-swatches {
    width:100%;
    margin: 2vw 0 0 0;
  }
  #color-swatches span.swatch {
    width:4.55vw;
    height:4.55vw;
    display:inline-block;
  }  
</style>

<div id="color-swatches">
  <span class="swatch" style="background-color:#FFED78;" value="#FFED78"></span>
  <span class="swatch" style="background-color:#C8E64C;" value="#C8E64C"></span>
  <span class="swatch" style="background-color:#8CD446;" value="#8CD446"></span>
  <span class="swatch" style="background-color:#4DC742;" value="#4DC742"></span>
  <span class="swatch" style="background-color:#45D2B0;" value="#45D2B0"></span>
  <span class="swatch" style="background-color:#46ACD3;" value="#46ACD3"></span>
  <span class="swatch" style="background-color:#438CCB;" value="#438CCB"></span>
  <span class="swatch" style="background-color:#4262C7;" value="#4262C7"></span>
  <span class="swatch" style="background-color:#5240C3;" value="#5240C3"></span>
  <span class="swatch" style="background-color:#8C3FC0;" value="#8C3FC0"></span>
  <span class="swatch" style="background-color:#D145C1;" value="#D145C1"></span>
  <span class="swatch" style="background-color:#E64C8D;" value="#E64C8D"></span>
  <span class="swatch" style="background-color:#FF5454;" value="#FF5454"></span>
  <span class="swatch" style="background-color:#EC4545;" value="#EC4545"></span>
  <span class="swatch" style="background-color:#C0392B;" value="#C0392B"></span>
  <span class="swatch" style="background-color:#0E0E0E;" value="#0E0E0E"></span>
</div>