<div class="edit-category-icon">
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-ok"></span>
  <span class="glyphicon glyphicon-remove"></span>
  <span class="glyphicon glyphicon-music"></span>
  <span class="glyphicon glyphicon-glass"></span>
  <span class="glyphicon glyphicon-heart"></span>
  <span class="glyphicon glyphicon-user"></span>
  <span class="glyphicon glyphicon-home"></span>
  <span class="glyphicon glyphicon-book"></span>
  <span class="glyphicon glyphicon-check"></span>
  <span class="glyphicon glyphicon-plane"></span>
  <span class="glyphicon glyphicon-comment"></span>
  <span class="glyphicon glyphicon-shopping-cart"></span>
  <span class="glyphicon glyphicon-usd"></span>
  <span class="glyphicon glyphicon-tree-conifer"></span>
  <span class="glyphicon glyphicon-grain"></span>
  <span class="glyphicon glyphicon-text-background"></span>
  <span class="glyphicon glyphicon-education"></span>
  <span class="glyphicon glyphicon-camera"></span>
  <span class="glyphicon glyphicon-road"></span>
  <span class="glyphicon glyphicon-phone"></span>
  <span class="glyphicon glyphicon-credit-card"></span>
  <span class="glyphicon glyphicon-bed"></span>
  <span class="glyphicon glyphicon-wrench"></span>
  <span class="glyphicon glyphicon-warning-sign"></span>
  <span class="glyphicon glyphicon-picture"></span>
  <span class="glyphicon glyphicon-tags"></span>
  <span class="glyphicon glyphicon-envelope"></span>
</div>