
<style>
  #period-bar .toggle {
    font-size:5vw;
    width:25vw;
  }
</style>

<nav id="period-bar" class="btn-group" role="group" aria-label="...">
  <button type="button" class="toggle btn btn-default" value="week">Week</button>
  <button type="button" class="toggle btn btn-default" value="month">Month</button>
  <button type="button" class="toggle btn btn-default" value="year">Year</button>
  <button type="button" class="toggle btn btn-default" value="eternity">All Time</button>
</nav>
