<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  // Load the Visualization API library and the piechart library.
  google.load('visualization', '1', {'packages':['corechart']});
  google.setOnLoadCallback(drawChart);
     // ... draw the chart...

     // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      // function drawChart() {

      // // Create the data table.
      // var data = new google.visualization.DataTable();
      // data.addColumn('string', 'Topping');
      // data.addColumn('number', 'Slices');
      // data.addRows([
      //   ['Mushrooms', 3],
      //   ['Onions', 1],
      //   ['Olives', 1],
      //   ['Zucchini', 1],
      //   ['Pepperoni', 2]
      // ]);

      // // Set chart options
      // var options = {'title':'How Much Pizza I Ate Last Night',
      //                'width':400,
      //                'height':300};

      // // Instantiate and draw our chart, passing in some options.
      // var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      // chart.draw(data, options);
    // }
</script>

<!-- <div id="chart_div"></div>
 -->
<section id="data-analysis-screen">
  <h1>analyses</h1>
  
 

  <section id="data-stacked-barchart">
    <%= render 'users/analysis_partials/stacked_columnchart' %>
  </section>

  <section id="data-donutchart">
    <%= render 'users/analysis_partials/donutchart' %>
  </section>

<!-- 
  <section id="data-piechart">
    <%= render 'users/analysis_partials/piechart' %>
  </section>
 -->
  





  <!-- converts ruby object to JSON -->
  <!-- IMPORTANT -->
  <%= javascript_tag "var dataHash = #{@data_hash.to_json}" %> 
  <script>
    function hmsToSeconds(s) {
      var b = s.split(':');
      return b[0]*3600 + b[1]*60 + (+b[2] || 0);
    }

    function secondsToHMS(secs) {
      function z(n){return (n<10?'0':'') + n;}
      var sign = secs < 0? '-':'';
      secs = Math.abs(secs);
      return sign + z(secs/3600 |0) + ':' + z((secs%3600) / 60 |0) + ':' + z(secs%60);
    }

    //add a .getWeek() method to the Date() object
    Date.prototype.getWeek = function() {
        var onejan = new Date(this.getFullYear(), 0, 1);
        return Math.ceil((((this - onejan) / 86400000) + onejan.getDay() + 1) / 7);
    }



    
    
  </script>


</section>




<!-- 
//@data_hash ==>   
    {
     "new-test-category"=>{
       :id=>7, 
       :icon=>"3", 
       :entries=>[
         { 
           :starttime=>2000-01-01 13:00:00 UTC, 
           :endtime=>2000-01-01 14:30:00 UTC, 
           :entry_date=>nil, 
           :entry_id=>4
         }, 

         {
           :starttime=>2000-01-01 04:00:00 UTC, 
           :endtime=>2000-01-01 05:30:00 UTC, 
           :entry_date=>Mon, 26 Oct 2015, 
           :entry_id=>7
         }, 

         {
           :starttime=>2000-01-01 19:00:00 UTC, 
           :endtime=>2000-01-01 20:30:00 UTC, 
           :entry_date=>Mon, 26 Oct 2015, 
           :entry_id=>9
         }
       ]
     }, 
     "test"=>{
       :id=>1, 
       :icon=>"2", 
       :entries=>[

       ]
     }

   }
    -->