<!-- TODO -->
<style>
  #new-entry-screen {
    width:100vw;
    height:100vh;
    background-color:pink;

    position:absolute;
    top:0;
    z-index:1;

    display:none;
  }

</style>




<section id="new-entry-screen">
  <h3 id="today-date"></h3>

  
  <img src="#"> <!-- TODO: will show the icon -->


  <form action="/users/<%=session[:user_id]%>/categories/~<{[]}>~/entries" /method="POST" id="new-entry-form">

    <label>Category
      <select name="category_id" required>
        <%@categories.each do |c|%>
          <option value="<%=c[:id]%>"> <%=c[:name]%> </option>
        <%end%>
      </select>
    </label>

    <input type="hidden" name="entry_date" id="new-entry-date" required> <!-- TODO: eventually this may be selected by which date it says on the top o the screen, like dollarbird. OR maybe i'll keep it this way, which will force you to take it on the same day, being more mindful -->
    <input type="time" name="starttime" required>
    <input type="time" name="endtime" required>

    <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">

  </form>
  <button id="new-entry-submit">New Entry</button>

  
  
  
  
</section>


<script>
  $(document).ready(function(){
    var newEntryForm = $('#new-entry-form');


    /* Set up today's date as default */
    Date.prototype.toDateInputValue = (function() {
      var local = new Date(this);
      local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
      return local.toJSON().slice(0,10);
    });

    $('#new-entry-date').val( new Date().toDateInputValue() );
    $('#today-date').html( new Date().toDateInputValue() );

    /* Set up clicked time slot as default -- this is set up in index.html.erb */


    /* Submit Check */
    $('#new-entry-submit').on('click', function(){
      var categoryId = $('select[name="category_id"]').val(),
          formAction = newEntryForm.attr('action'),
          formAction = formAction.split('categories/')[0];
          formAction += 'categories/' + categoryId + '/entries';


      newEntryForm.attr('action', formAction);
      newEntryForm.submit();
    });
  });
    

</script>








