<!-- TODO -->
<style>
  #new-entry-screen {
    width:100vw;
    height:100vh;
    background-color:pink;

    position:absolute;
    top:0;
    z-index:1;

    display:none;
  }

</style>




<section id="new-entry-screen">


  
  <img src="#"> <!-- TODO -->




  <!-- new entry -->

  
  <form action="/users/<%=session[:user_id]%>/categories/~<{[]}>~/entries" /method="POST" id="form-entry">

    <label>Category
      <select name="category_id" required>
        <%@categories.each do |c|%>
          <option value="<%=c[:id]%>"> <%=c[:name]%> </option>
        <%end%>
      </select>
    </label>

    <input type="time" name="starttime" required>
    <input type="time" name="endtime" required>

    <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">

  </form>
  <button id="new-entry-submit">New Entry</button>

  
  
  
  
</section>


<script>
  $(document).ready(function(){
    var newEntryForm = $('#new-entry-screen form')

    $('#new-entry-submit').on('click', function(){
      var categoryId = $('select[name="category_id"]').val(),
          formAction = $('#form-entry').attr('action'),
          formAction = formAction.split('categories/')[0];
          formAction += 'categories/' + categoryId + '/entries';


      newEntryForm.attr('action', formAction);

      newEntryForm.submit();
    });
  });
    

</script>








