<!-- TODO -->
<style>
  #new-entry {
    width:100vw;
    height:100vh;
    background-color:pink;

    position:absolute;
    top:0;
    z-index:1;

    display:none;
  }
</style>

<section id="new-entry">
  
</section>