<!-- TODO -->
<style>
  .hour {
    width:100%;
    height:8vh;
    /*background:#F0FFFF;*/
    border:0.1em solid #C2DFFF;
    text-align:center;
  }
  .half-hour {
    width:100%;
    height:50%;
  }
  .half-hour h6 {
    display:inline;
  }
  .hour .half-hour:nth-child(1) {
/*    background-color:red;*/
  }
  .hour .half-hour:nth-child(2) {
   /* background-color:green;*/
  }
</style>

<div class="hour" id="hr-00">
  <div class="half-hour">
    <h6>00:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-01">
  <div class="half-hour">
    <h6>01:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-02">
  <div class="half-hour">
    <h6>02:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-03">
  <div class="half-hour">
    <h6>03:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-04">
  <div class="half-hour">
    <h6>04:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-05">
  <div class="half-hour">
    <h6>05:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-06">
  <div class="half-hour">
    <h6>06:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-07">
  <div class="half-hour">
    <h6>07:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-08">
  <div class="half-hour">
    <h6>08:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-09">
  <div class="half-hour">
    <h6>09:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-10">
  <div class="half-hour">
    <h6>10:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-11">
  <div class="half-hour">
    <h6>11:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-12">
  <div class="half-hour">
    <h6>12:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-13">
  <div class="half-hour">
    <h6>13:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-14">
  <div class="half-hour">
    <h6>14:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-15">
  <div class="half-hour">
    <h6>15:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-16">
  <div class="half-hour">
    <h6>16:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-17">
  <div class="half-hour">
    <h6>17:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-18">
  <div class="half-hour">
    <h6>18:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-19">
  <div class="half-hour">
    <h6>19:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-20">
  <div class="half-hour">
    <h6>20:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-21">
  <div class="half-hour">
    <h6>21:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-22">
  <div class="half-hour">
    <h6>22:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

<div class="hour" id="hr-23">
  <div class="half-hour">
    <h6>23:00</h6>
  </div>
  <div class="half-hour"></div>
</div>

