<style>
  #topbar {
  }

  #topbar .toggle {
    width:33vw;
    margin:0.1vw;
/*    width:12vw;
    height:12vw;
    float:left;
    margin-left:16.5vw;
    margin-top:1.5vw;*/
    font-size:8vw;
  }
  .toggle a {
    width:100%;
    height:100%;
  }
  .toggle .glyphicon {
    text-align: center;
  }
</style>



<nav id="topbar" class="btn-group" role="group" aria=label="...">
  
  <button id="toggle-timeline" class="toggle btn btn-default">
    <a href="/"><span class="glyphicon glyphicon glyphicon-th-list"></span></a>
  </button>


  <button id="toggle-data" class="toggle btn btn-default">
    <a href="/users/<%=session[:user_id]%>/analysis"><span class="glyphicon glyphicon glyphicon-stats"></span></a>
  </button>


  <button id="toggle-setting" class="toggle btn btn-default">
    <a href="/settings"><span class="glyphicon glyphicon glyphicon-cog"></span></a>
  </button>
  
</nav>



<script>
  $(document).ready(function(){

  });
</script>