<!-- TODO -->
<style>
  #timeline {
    height:70vh;
    width:90vw;
    border:1vw solid darkgrey;
    overflow: scroll;
  }
</style>


<nav>
  

  <%if session[:user_id]%>
    <!-- log out button -->
    <%= render 'home/logout_button' %>

  <%else%>

    <!-- log in button/form -->
    <%= render 'home/login_button' %>
   
    <!-- sign up button -->
    <a href="/users/new">Sign up</a>
  <%end%>

</nav>


<main id="timeline">
  
  <%if session[:user_id]%>

  <!-- timeline -->
  <%= render "home/timeline" %>


  <%end%>

</main>

<!-- hidden new entry screen -->
<%= render "home/new_entry" %>


<!-- TODO -->
<script>

  //show new entry screen
  $('.hour').on('click', function(){
    $('#new-entry').show();
  });

  //hide new entry screen upon submission
  var newEntryScreen = $('#new-entry');



</script>