<!-- TODO move styles elsewhere-->
<style>


  #timeline {
    height:70vh;
    width:90vw;
    border:1vw solid darkgrey;
    overflow: scroll;
  }
</style>




<main id="timeline">
  
  <%if session[:user_id]%>

    <!-- timeline -->
    <%= render "home/timeline" %>
  <%else%>

    <!-- Describe what Timekeep is about -->

    <h3>Time is money; track your spending.</h3>

    <p>Timekeep is a web app that helps you track how you spend your time. It is primarily a mobile web app because in this day and age, everyone is always on their phones. Periodically note what you've done in the past hour or two, and be honest: how much of that time did you spend surfing the web? Be honest and write that down in Timekeep. As you use Timekeep more and more, you'll become more mindful of your time-spending habits and become more aware when you are goofing off. Time is money; track your spending.</p>

    <h3>You are not logged in: click on settings on the top right to sign up or log in!</h3>

  <%end%>

</main>

<!-- hidden new entry screen -->
<%= render "home/new_entry" %>

<!-- hidden categories screen -->
<%= render 'home/categories' %>






<!-- TODO move script elsewhere-->
<script>
  var timeSlotStart,
      timeSlotEnd; //used to set default time




  /*this funciton takes inputs and then returns the start and endtime */
  function getEntryDuration(startHour, startMinute, durationHHMM){


    var starttimeSlot = startHour + ":" + startMinute;


    var duration = durationHHMM, // "1::30" = 1 hour 30 mins
        durationHour = duration.split('::')[0],
        durationMinute = duration.split('::')[1];


    var endtimeHour,
        endtimeMinute,
        endtimeSlot;

    endtimeHour = parseInt(startHour) + parseInt(durationHour);
    
    endtimeMinute = parseInt(startMinute) + parseInt(durationMinute);
    if (parseInt(endtimeMinute) >= 60) {
      endtimeHour += 1;
      endtimeMinute -= 60;
    }

    

    if (parseInt(endtimeHour) > 23) {
      endtimeHour = "23";
    } else if (endtimeHour.toString().length === 1) {
      endtimeHour = "0" + endtimeHour;
    }

    if (endtimeMinute.toString().length === 1) {
      endtimeMinute += "0";
    }
    endtimeSlot = endtimeHour + ":" + endtimeMinute;


    return {
      "starttime": starttimeSlot,
      "endtime": endtimeSlot
     }
  }

  





  /* show new entry screen */
  $('.hour').on('click', function(){

    var startHour = this.id.split('-')[1],
        startMinute = "00", //TODO make this customisble later
        duration = "1::30";

    // Autopopulate start time
    var durations = getEntryDuration(startHour, startMinute, duration);

    $('input[name="starttime"]').val(durations['starttime']);
    $('input[name="endtime"]').val(durations['endtime']);


    $('#new-entry-screen').show();
  });



  /* show categories screen */
  $('#category-screen-link').on('click', function(){
    $('#new-category-screen').show();
  });




</script>