<h1>Donut Chart</h1>

<section id="individual-donutchart">
  <div></div>
</section>

<section id="average-donutchart"> <!-- give option for week/month/year-->
  <div></div>
</section>


<script>
  

  $(document).ready(function(){
 

    var averageDonutChart = $('#individual-donutchart div')[0],
        averageDonutChartArray = getAverageDonutChartArray(dataHash, 'eternity');

    makeAverageDonutChart(averageDonutChartArray, averageDonutChart);     
  });

  function makeAverageDonutChart(weekArray, chartEl) {
    var data = google.visualization.arrayToDataTable(weekArray),
        options = {
          title: 'My Daily Activities',
          pieHole: 0.4,
        },
        chart = new google.visualization.PieChart(chartEl);

    chart.draw(data, options);
  }

  function getAverageDonutChartArray(dataHash, sampledPeriod){
    var weekData = [
      ['Category', 'Recorded hours']
    ];


    /* loop through categories */
    for (var cat in dataHash){
      if (dataHash.hasOwnProperty(cat)) {
        console.log(cat + " -> " + dataHash[cat]);
      }

      var categoryEntries = dataHash[cat]['entries'],
          categoryEntriesLength = categoryEntries.length,
          categoryData = [cat],
          categoryTimeInHrs = 0;    

      /* loop through entries in category */
      for (var i = 0; i < categoryEntriesLength; i++) {

        var starttime = categoryEntries[i]['starttime'].split('T')[1].split('.')[0],
            endtime = categoryEntries[i]['endtime'].split('T')[1].split('.')[0],
            entry_date = categoryEntries[i]['entry_date'];

        // with starttime and endtime find duration in Hrs
        var entryDurInHrs = getEntryDurInSec(starttime, endtime) / 3600;

        

        //if entry's entry_date is in the acceptable time period, add it to the total time spent on the category; if it's eternity, do all

        if (sampledPeriod === "eternity") {
          categoryTimeInHrs += entryDurInHrs;
        } else {
          var acceptablePeriods = getAcceptablePeriodsArray(sampledPeriod);
          if (acceptablePeriods.indexOf(entry_date) !== -1) {
            categoryTimeInHrs += entryDurInHrs;
          }
        }

      }
    
      categoryData.push(categoryTimeInHrs);
      weekData.push(categoryData);
    }
    return weekData;
  }

  function getAcceptablePeriodsArray(sampledPeriod) {
    
    var formatDate = function(date){  
          var dd = date.getDate(),
              mm = date.getMonth() + 1,
              yyyy = date.getFullYear();
          if(dd < 10) {
            dd = '0' + dd
          }
          if(mm < 10) {
            mm = '0' + mm
          }
          date = yyyy + '-' + mm + '-' + dd;
          return date;
        },
        lastNDays = function(n){
          var result = [];
          for (var i=0; i<n; i++) {
              var d = new Date();
              d.setDate(d.getDate() - i);
              result.push( formatDate(d) )
          }

          return result;
        }
        


        sampledPeriodRouter = {
          'week': lastNDays(7),
          'month': lastNDays(30),
          'year': lastNDays(365)
        };

      return sampledPeriodRouter[sampledPeriod];
      
  }


</script>










