<h1>Piechart</h1>

  <section class="chart-week">
    <h3>By Week</h3>
    <input type="week">
    <canvas width="300" height="300"></canvas>
  </seciton>

  <section class="chart-month">
    <h3>By Month</h3>
    <input type="month"> <!-- value == "2015-10" -->
    <canvas width="300" height="300"/>
  </section>
  
  <section class="chart-year">
    <h3>By Year</h3>
    <input type="date">
    <canvas width="300" height="300"></canvas>
  </section>



<!--     <div id="canvas-holder">
      <canvas id="chart-area" width="300" height="300"/>
    </div> -->


  <script>
    function hmsToSeconds(s) {
      var b = s.split(':');
      return b[0]*3600 + b[1]*60 + (+b[2] || 0);
    }

    function secondsToHMS(secs) {
      function z(n){return (n<10?'0':'') + n;}
      var sign = secs < 0? '-':'';
      secs = Math.abs(secs);
      return sign + z(secs/3600 |0) + ':' + z((secs%3600) / 60 |0) + ':' + z(secs%60);
    }


    var dataHash = dataHash; 

    function getTimeSpentOnCategory(){

    }

    function getUsageData(periodData, dataHash){
      var usageData = [],
          chosenPeriod = periodData['period'];

      /* loop through categories */
      for (var cat in dataHash) {
        if (dataHash.hasOwnProperty(cat)) {
          console.log(cat + " -> " + dataHash[cat]);
        }

        var usageDataObject = {},
            categoryEntries = dataHash[cat]['entries'],
            categoryEntriesLength = categoryEntries.length,
            timeSpentOnCategory = 0;

        /* loop through entries in category */
        for (var i = 0; i < categoryEntriesLength; i++) {
          var starttime = categoryEntries[i]['starttime'].split('T')[1].split('.')[0],
              endtime = categoryEntries[i]['endtime'].split('T')[1].split('.')[0],
              entry_date = categoryEntries[i]['entry_date'];
              


          if (chosenPeriod === 'year') {
            if (entry_date.split('-')[0] != periodData['year']) {
              break; 
            }

          } else if ( chosenPeriod === 'month') {
            if (entry_date.split('-')[1].split('-')[0] != periodData['month']) {
              break;
            }

          } else if (chosenPeriod === 'week') {
            //???? TODO
            console.log('figure out week');
          }
          timeSpentOnCategory += hmsToSeconds(endtime) - hmsToSeconds(starttime);

        }




        //insert category name
        usageDataObject['categoryName'] = cat;
        usageDataObject['hmsPerPeriod'] = timeSpentOnCategory;

        usageData.push(usageDataObject);


      }

    
      debugger
      return usageData; //this usageData can be used for all charts (hopefully)
    }

    var testPeriodWeek = {
      'period': 'week',
      'week': 41,
      'month': undefined,
      'year': 2015
    }

    var testPeriodMonth = {
      'period': 'month',
      'week': undefined,
      'month': 10,
      'year': 2015
    }

    var testPeriodYear = {
      'period': 'year',
      'week': undefined,
      'month': undefined,
      'year': 2015
    }

    getUsageData(testPeriodYear, dataHash);
    /*
      return [
        {
          'categoryName': 'work',
          'hmsPerPeriod': 20
        },
        {
          'categoryName': 'play',
          'hmsPerPeriod': 50
        }
      ]
    */


    /* return [ 
          {value: 1, color: '#fdf', highlight: '#dsfk', label: 'color'},
          {""}
        ]

    */

    var pieData = [
        {
          value: 300,
          color:"#F7464A",
          highlight: "#FF5A5E",
          label: "Red"
        },
        {
          value: 50,
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "Green"
        },
        {
          value: 100,
          color: "#FDB45C",
          highlight: "#FFC870",
          label: "Yellow"
        },
        {
          value: 40,
          color: "#949FB1",
          highlight: "#A8B3C5",
          label: "Grey"
        },
        {
          value: 120,
          color: "#4D5360",
          highlight: "#616774",
          label: "Dark Grey"
        }

      ];

      // window.onload = function(){
        
      // };

      $(document).ready(function(){

        //default graph
        var ctx = $('#data-piechart .chart-month canvas').get(0).getContext("2d");
        window.myPie = new Chart(ctx).Pie(pieData);

        //when change of inputs
        var pieChartInputs = $('#data-piechart section input');
        pieChartInputs.change(function(){
          var period = $(this).val();
          //update pie chart here.
          
        });
      });




  </script>


<!-- 
//@data_hash ==>   
    {
     "new-test-category"=>{
       :id=>7, 
       :icon=>"3", 
       :entries=>[
         { 
           :starttime=>2000-01-01 13:00:00 UTC, 
           :endtime=>2000-01-01 14:30:00 UTC, 
           :entry_date=>nil, 
           :entry_id=>4
         }, 

         {
           :starttime=>2000-01-01 04:00:00 UTC, 
           :endtime=>2000-01-01 05:30:00 UTC, 
           :entry_date=>2015-10-26, 
           :entry_id=>7
         }, 

         {
           :starttime=>2000-01-01 19:00:00 UTC, 
           :endtime=>2000-01-01 20:30:00 UTC, 
           :entry_date=>2015-10-26,
           :entry_id=>9
         }
       ]
     }, 
     "test"=>{
       :id=>1, 
       :icon=>"2", 
       :entries=>[

       ]
     }

   }
    -->